<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
  <link href="stylesheets/layouttest.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><span>LunchApp</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hidden-xs section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 hidden-xs">
          <ul class="nav nav-justified nav-tabs">
            <li class="active">
              <a href="#">Maanantai</a>
            </li>
            <li>
              <a href="#">Tiistai</a>
            </li>
            <li>
              <a href="#">Keskiviikko</a>
            </li>
            <li>
              <a href="#">Torstai</a>
            </li>
            <li>
              <a href="#">Perjantai</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-lg hidden-md hidden-sm section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default">Maanantai</a>
            <a href="#" class="btn btn-default">Tiistai</a>
            <a href="#" class="btn btn-default">Keskiviikko</a>
            <a href="#" class="btn btn-default">Torstai</a>
            <a href="#" class="btn btn-default">Perjantai</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        {% for restaurant in restaurants %}
        <div class="col-sm-6 col-md-4">
          <div class="well">
            <h2>{{restaurant.name}}</h2>
            {% for course in restaurant.weeks_menus[today.weekday()] %}
              {% for component in course["Courses"] %}
                <p>{{component["Food"]}} <i>{{' '.join(component["Types"])}}</i><p/>
              {% endfor %}
              <p>{{course["Price"]}}<p/>
            {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
{% endautoescape %}
