<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/list.js/list.min.js"></script>
  <script type="text/javascript" src="/list.fuzzysearch.js/list.fuzzysearch.min.js"></script>

  <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../stylesheets/layouttest.css" rel="stylesheet" type="text/css">
  <link href="../stylesheets/omacss.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">LunchApp</a>
      </div>
      {% set navigation_bar = [
        ('/', 'index', 'Viikon ruokalistat'),
        ('/settings', 'settings', 'Asetukset'),
        ('/about', 'about', 'About')
      ] -%}
      {% set active_page = active_page|default('index') -%}
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav">
          {% for href, id, caption in navigation_bar if user or id != "settings"%}
            <li{% if id == active_page %} class="active"{% endif%}>
              <a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
          <!-- TODO -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            {% if user %}
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span> {{user.nickname()}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Reset data</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href={{logout_url}}>Logout</a></li>
              </ul>
            </li>
            {% else %}
              <a href= {{login_url}} >Login</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% block content %}{% endblock %}
</body>
</html>


{% endautoescape %}
