<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
  <link href="../stylesheets/layouttest.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><span>LunchApp</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">Bootsrap</a>
          </li>
          <li>
            <a href="#">Masonry</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <!-- Nav tabs -->
          <ul class="nav nav-justified nav-tabs">
            <li class="active"><a href="#Maanantai" data-toggle="tab">Maanantai</a></li>
            <li><a href="#Tiistai" data-toggle="tab">Tiistai</a></li>
            <li><a href="#Keskiviikko" data-toggle="tab">Keskiviikko</a></li>
            <li><a href="#Torstai" data-toggle="tab">Torstai</a></li>
            <li><a href="#Perjantai" data-toggle="tab">Perjantai</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="tab-content">
          {% block tab_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <script>
    $(window).load(function () {
          var date = new Date()
          var weekday = date.getDay();
          var weekdays = ["Maanantai", "Maanantai", "Tiistai", "Keskiviikko", "Torstai", "Perjantai", "Maanantai"]
          var str = ".nav-tabs a[href=\"#" + weekdays[weekday] + "\"]"

          $(str).tab('show');
      });

    function refreshAt(hours, minutes, seconds) {
    var now = new Date();
    var then = new Date();

    if(now.getHours() > hours ||
       (now.getHours() == hours && now.getMinutes() > minutes) ||
        now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
        then.setDate(now.getDate() + 1);
    }
    then.setHours(hours);
    then.setMinutes(minutes);
    then.setSeconds(seconds);

    var timeout = (then.getTime() - now.getTime());
    setTimeout(function() { window.location.reload(true); }, timeout);
    }

    refreshAt(11,00,00);
    refreshAt(11,30,00);
    refreshAt(12,00,00);

  </script>
</body>
</html>


{% endautoescape %}
