<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
  <link href="../stylesheets/layouttest.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><span>LunchApp</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hidden-xs section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 hidden-xs">
        <!-- Nav tabs -->
          <ul class="nav nav-justified nav-tabs">
            <li class="active"><a href="#Maanantai" data-toggle="tab">Maanantai</a></li>
            <li><a href="#Tiistai" data-toggle="tab">Tiistai</a></li>
            <li><a href="#Keskiviikko" data-toggle="tab">Keskiviikko</a></li>
            <li><a href="#Torstai" data-toggle="tab">Torstai</a></li>
            <li><a href="#Perjantai" data-toggle="tab">Perjantai</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-lg hidden-md hidden-sm section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default">Ma</a>
            <a href="#" class="btn btn-default">Ti</a>
            <a href="#" class="btn btn-default">Ke</a>
            <a href="#" class="btn btn-default">To</a>
            <a href="#" class="btn btn-default">Pe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="tab-content">
          <div class="tab-pane active" id="Maanantai">
            {% block maanantai %}
            {% endblock %}
          </div>
          <div class="tab-pane" id="Tiistai">
            {% block tiistai %}
            {% endblock %}
          </div>
          <div class="tab-pane" id="Keskiviikko">
            {% block keskiviikko %}
            {% endblock %}
          </div>
          <div class="tab-pane" id="Torstai">
            {% block torstai %}
            {% endblock %}
          </div>
          <div class="tab-pane" id="Perjantai">
            {% block perjantai %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
{% endautoescape %}
