{% extends "base.html" %}
{% set active_page = "settings" %}

{% block content %}
<div class="section">
  <div class="container">
    <ul class="list-group">
    {% for restaurant in restaurants %}
      <li class="list-group-item">{{restaurant.name}}
      <span id="ok-sign"{{" class=\"glyphicon glyphicon-ok\"" if users_restaurants != None and restaurant.name in users_restaurants}}></span></li>
    {% endfor %}
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('.list-group-item').click(function(event){
        var type;
        if ($(this).children("span").hasClass("glyphicon glyphicon-ok")) {
          $(this).children("span").removeClass("glyphicon glyphicon-ok");
          type = "remove"
        }
        else {
          $(this).children("span").addClass("glyphicon glyphicon-ok");
          type = "add"
        }
      $.post( '/settings', { restaurant_name: $(this).text(), type: type } );
      })
  });
</script>
{% endblock %}
