{% extends "base.html" %}
{% set active_page = "settings" %}

{% block content %}
<div class="section">
  <div class="container" id="restaurants">
    <input type="text" class="fuzzy-search"/>
    <ul class="list">
    {% for restaurant_name in restaurant_names %}
      <li class="list-group-item" class="unselectable">
        <h3 class="name">{{restaurant_name}} <span id="ok-sign"
        {% if restaurant_name in user_restaurant_names %}
          class="glyphicon glyphicon-ok"
        {% endif %}
          ></span>
        </h3>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

<script type="text/javascript">
  var restaurantList = new List('restaurants', {
    valueNames: ['name'],
    plugins: [ ListFuzzySearch() ]
  });
</script>

<script>
  $(document).ready(function(){
      $('.name').click(function(event){
        var type;
        if ($(this).children("span").hasClass("glyphicon glyphicon-ok")) {
          $(this).children("span").removeClass("glyphicon glyphicon-ok");
          type = "remove"
        }
        else {
          $(this).children("span").addClass("glyphicon glyphicon-ok");
          type = "add"
        }
        $.ajax({
                type: 'POST',
                url: '/settings',
                data: { restaurant_name: $(this).text(), type: type },
                success: function (result) {
                    console.log('Success');
                 },
                 error: function (xhr, ajaxOptions, thrownError) {
                     console.log(xhr.status);
                     console.log(xhr.responseText);
                     console.log(thrownError);
                 }
              })
      });
  });
</script>
{% endblock %}
