{% extends "base.html" %}
{% set active_page = "settings" %}

{% block content %}
<div class="section">
  <div class="container">
    <ul class="list-group">
    {% for restaurant in restaurants %}
      <li class="list-group-item">{{restaurant.name}}<span id="ok-sign"> </span></li>
    {% endfor %}
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('.list-group-item').click(function(event){
        if ($(this).children("span").hasClass("glyphicon glyphicon-ok")) {
          $(this).children("span").removeClass("glyphicon glyphicon-ok");
        }
        else {
          $(this).children("span").addClass("glyphicon glyphicon-ok");
        }
      var listItems = $('.list-group');
      })
  });
</script>
{% endblock %}
