{% extends "menus.html" %}

{% block tab_content %}
  {% set weekdays = [['Maanantai', 0], ['Tiistai', 1], ['Keskiviikko', 2], ['Torstai', 3], ['Perjantai', 4]] %}
  {% for weekday in weekdays %}
    <div class="tab-pane{{" active" if weekday[1] == 0}}" id="{{ weekday[0] }}">
      {% for restaurant in restaurants %}
        <div class="col-sm-6 col-lg-4 text-center">
          <div class="menupanel panel-default box-shadow">
            <div id="upper_left"></div>
            <div id="upper_right"></div>
            <div id="lower_left"></div>
            <div id="lower_right"></div>
            <div class="panel-body">
              <h2>{{restaurant.name}}</h2>
              {% for course in restaurant.menu_list[weekday[1]].courses %}
                <p>
                {% for component in course.components %}
                  {{component.name}} <i>{{component.get_properties_as_string()}}</i>
                  <br>
                {% endfor %}
                {{course.price}} €
                </p>
              {% endfor %}
            </div>
          </div>
        </div>
        {% autoescape false %}
        {{"<div class=\"clearfix visible-lg\"></div>" if loop.index % 3 == 0}}
        {{"<div class=\"clearfix visible-md visible-sm\"></div>" if loop.index % 2 == 0}}
        {% endautoescape %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
