{% extends "layout.html" %}

{% block tab_content %}
  {% set weekdays = [['Maanantai', 0], ['Tiistai', 1], ['Keskiviikko', 2], ['Torstai', 3], ['Perjantai', 4]] %}
  {% for weekday in weekdays %}
    <div class="tab-pane{{" active" if weekday[1] == 0}}" id="{{ weekday[0] }}">
      {% for restaurant in restaurants %}
        <div class="col-sm-6 col-md-4">
          <div class="well">
            <h2>{{restaurant.name}}</h2>
            {% for course in restaurant.menu_list[weekday[1]].courses %}
              {% for component in course.components %}
                <p>{{component.name}} <i>{{component.get_properties_as_string()}}</i></p>
              {% endfor %}
            <p>{{course.price}}</p>
            {% endfor %}
          </div>
        </div>
        {% autoescape false %}
        {{"<div class=\"clearfix visible-md\"></div>" if loop.index % 4 == 0}}
        {{"<div class=\"clearfix visible-sm\"></div>" if loop.index % 3 == 0}}
        {% endautoescape %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
